name: "e2e"
on: [push]
jobs:
  e2e:
    name: Test end-to-end
    runs-on: ubuntu-latest
    services:
      clickhouse:
        image: yandex/clickhouse-server
        # ports:
        #   - 8123:8123
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: npm install
      - name: Start all services
        run: npm run dev &
        env:
          FAUNADB_ADMIN_SECRET: ${{ secrets.FAUNADB_ADMIN_SECRET }}
          FAUNADB_SERVER_SECRET: ${{ secrets.FAUNADB_SERVER_SECRET }}
          MAGIC_SECRET_KEY: ${{ secrets.MAGIC_SECRET_KEY }}
          NODE_ENV: development
      - name: Run Cypress
        uses: cypress-io/github-action@v1
        with:
          install: false
          record: true
          wait-on: "http://localhost:3000"
          wait-on-timeout: 120
          working-directory: services/website
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_ENV: development
